body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.8323704481792717) 0%, rgba(87,162,84,0.48783263305322133) 50%, rgba(0,0,0,0.8071603641456583) 100%);
}
li{
  list-style-type: none;
  border-bottom: 1px solid lightgray;
  padding: 20px 20px;
}
li:hover{
  background-color: white;
}
li i{
  cursor: pointer;
}
.logo{
  width: 100%;
}
.logo img{
  width: 30%;
  object-fit: cover; 
}
.todoList{
  padding: 20px;
}
li span.lineThrough{
  text-decoration: line-through;
}